/* CSS Demo Stylesheet */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body{
    background-color: violet;
  }
  body 
    {
      font-family: "Trirong", serif
    }
    
  