/***Color Theme
#D9042B
#D91A3D
#022873
#123C73
#123C73 - white background

*/

/*  ---------------Responsive Images-----------------  */

img{
  max-width:100%;
}

/*  ---------------Utility-----------------  */

.container{
  width: 80vw;
  max-width:960px;
  margin: 40px auto
  }

.img-right{
  float:right;
  margin:10px 0 10px 20px;
  border:3px solid #11090e;
  padding:5px;
  border-radius:50px;
}

.img-left{
  float:left;
  margin:10px 20px 10px 0;
  border:3px solid #11090e;
  padding:5px;
  border-radius:50px;
}

.img-center{
  display:block;
  margin:20px auto;
}

  
/*  ---------------Global Styles-----------------  */


html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  
  body{
      font-family: "Roboto Mono", monospace;
  }
  
  